{% extends 'base.html' %}

{% block head_title %}
cool
{% endblock head_title %}

{% block content %}
<div class="row">
   <div class="column">
      <!-- <h1>
         Welcome to tweetme
      </h1> -->
   </div>
</div>

<div id="tweets" class="row">
   replace me
</div>

<script>
   const tweetsElement = document.getElementById("tweets")

   const xhr = new XMLHttpRequest()
   const method = 'GET' // "POST"
   const url = "/tweets"
   const responseType = "json"

   const handleDidLike = (tweetId, currentCount) => {
      console.log(tweetId, currentCount)
   }

   const likeBtn = (tweet) => {
      return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id +","+ tweet.likes +")>"+ tweet.likes +" likes</button>"
   }

   const formatTweetElement = (tweet) => {
      formattedTweet = "<div class='col-12 col-md-10 mx-auto mb-4 py-3 tweet' id='tweet-" + tweet.id +"'><p>" + tweet.content + 
         "</p><div class='btn-group'>" + likeBtn(tweet) +
         "</div></div>"
      return formattedTweet
   }

   xhr.responseType = responseType
   xhr.open(method, url)
   xhr.onload = function () {
      const serverResponse = xhr.response
      const listedItems = serverResponse.response
      let finalTweetStr = ''
      let i
      for (i=0;i<listedItems.length;i++) {
         let tweetObj = listedItems[i]
         let currentItem = formatTweetElement(tweetObj)
         finalTweetStr += currentItem
      }
      tweetsElement.innerHTML = finalTweetStr
   }
   xhr.send()


</script>

{% endblock content %}